{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    <div id="logo"></div>
    <div id="payoff">Agrisharing Mobile</div>
    <form action="" method="POST" name="login">
        {{ form.hidden_tag() }}
        <div class="input-cont">
            <label for="">Name:</label>
            {{ form.username }}
        </div>
        <div class="input-cont">
            <label for="">Password:</label>
            {{ form.password }}
        </div>
            <input type="submit" value="Sign IN">
        </p>
    </form>

{% endblock %}
