{% extends 'base.html' %}
{% block title %} Profilo {% endblock %}
{% block content %}
<p>{{context.user.username}}</p>
<p>{{context.user.phone_number}}</p>

<div>Vendite</div>

<p>
<a href="transition_in_progress">Transitioni in corso</a>
</p>
<p>
<a href="transition_concluded">Transitioni concluse</a>
</p>

<div>Acquisti</div>

<p>
<a href="transition_in_progress/buy">Transitioni in corso</a>
</p>
<p>
<a href="transition_concluded/buy">Transitioni concluse</a>
{{ context.transition_concluded_sell }}
</p>

{% endblock %}

