{% extends 'base.html' %}
{% block title %} Profilo {% endblock %}
{% block content %}
<div class="upper-info-cont cf">
    <div class="user-img"></div>
    <div class="info-cont">
        <div class="username">{{context.user.username}}</div>
        <div class="phone-number">{{context.user.phone_number}}</div>
        <div>
            <a href="/logout">Logout</a>
        </div>
    </div>
</div>

<p class="separator">Vendite</p>
<a class="btn dark" href="transition_in_progress">Transitioni in corso</a>
<p>
<a class="btn dark" href="transition_concluded">Transitioni concluse</a>

{% endblock %}

